In [162]:
import warnings

In [163]:
import numpy as np
import pandas as pd

In [164]:
import plotly.graph_objects as go
import plotly.express as px

In [165]:
warnings.filterwarnings("ignore")

In [166]:
df = pd.read_csv('youtube_data_eda_1.csv')

In [167]:
df

,Unnamed: 0,index,profile_name,subscriber,view,video,country,category,since,last_subscriber_30,last_view_30,overviewSubscribers,overviewVideoViews,min_month_earnings,max_month_earnings
0,0,0,Rotana,24500000,24034368999,9078,Saudi Arabia (SA),Music,2012,200000,292453337,"[['2016-10-29', '3282041'], ['2016-11-27', '33...","[['2016-10-29', '2397995058'], ['2016-11-27', ...",110000,658000
1,1,1,Mmoshaya,23200000,18468679361,1240,Saudi Arabia (SA),People & Blogs,2010,0,34076848,"[['2016-10-27', '1139825'], ['2016-11-23', '12...","[['2016-10-27', '340585176'], ['2016-11-23', '...",12800,76700
2,2,2,شبكة العاب العرب | Arab Games Network,22300000,10024125023,7460,Saudi Arabia (SA),Gaming,2013,100000,45416699,"[['2016-11-14', '213303'], ['2017-01-19', '250...","[['2016-11-14', '22399237'], ['2017-01-19', '3...",17000,102000
3,3,3,Katakit Baby Tv,20200000,8517744618,231,Saudi Arabia (SA),Music,2010,200000,133417200,"[['2021-07-18', '9780000'], ['2021-08-31', '10...","[['2021-07-18', '3675162082'], ['2021-08-31', ...",50000,300000
4,4,4,ماشا و الدب,18300000,10158387659,1482,Saudi Arabia (SA),Shows,2017,100000,82126847,"[['2017-05-29', '967'], ['2017-06-18', '5106']...","[['2017-05-29', '135030'], ['2017-06-18', '973...",30800,185000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,3578,3580,Thunayyan Khalid!,3890000,755411009,595,Canada (CA),Entertainment,2010,0,455754,"[['2016-10-29', '1440927'], ['2016-11-24', '15...","[['2016-10-29', '195190546'], ['2016-11-24', '...",170,1030
3579,3579,3581,دانية شافعي Danyah Shafei,2830000,1160145940,329,Saudi Arabia (SA),Film & Animation,2013,0,2757922,"[['2016-10-29', '396331'], ['2016-11-23', '439...","[['2016-10-29', '271407735'], ['2016-11-23', '...",1030,6210
3580,3580,3582,25esports,348000,13915866,56,Saudi Arabia (SA),People & Blogs,2017,5000,209635,"[['2021-06-17', '230000'], ['2021-07-30', '241...","[['2021-06-17', '4042277'], ['2021-07-30', '48...",78,471
3581,3581,3583,Barry | باري,1780000,23957794,1,Saudi Arabia (SA),People & Blogs,2017,0,64270,"[['2017-03-25', '78157'], ['2017-04-17', '1044...","[['2017-03-25', '172750'], ['2017-04-17', '716...",24,144
3582,3582,3584,Dyler | دايلر,7860000,1224551963,567,Saudi Arabia (SA),People & Blogs,2016,0,1515993,"[['2017-01-03', '387'], ['2017-02-15', '132771...","[['2017-01-03', '0'], ['2017-02-15', '2639847'...",568,3410

In [168]:
index = df.shape[0]

In [169]:
nindex = df[df['overviewSubscribers'].isna()].index

In [170]:
for i in nindex:
   df.at[i, 'overviewSubscribers'] = []

In [171]:
overviewSubscribers_date = []

In [172]:
overviewSubscribers_count = []

In [173]:
for i in range(0, index):
     yde = df.loc[i, ['overviewSubscribers']][0]
     if not yde == []:
         yde = eval(yde)
         a = []
         b = []
         for element in yde:
             a.append(element[0])
             b.append(element[1])
         overviewSubscribers_date.append(a)
         overviewSubscribers_count.append(b)
     else:
         overviewSubscribers_date.append([])
         overviewSubscribers_count.append([])

In [174]:
df['overviewSubscribers_date'] = overviewSubscribers_date

In [175]:
df['overviewSubscribers_count'] = overviewSubscribers_count

In [176]:
nindex = df[df['overviewVideoViews'].isna()].index

In [177]:
for i in nindex:
     df.at[i, 'overviewVideoViews'] = []

In [178]:
overviewVideoViews_date = []

In [179]:
overviewVideoViews_count = []

In [180]:
for i in range(0, index):
    yde = df.loc[i, ['overviewVideoViews']][0]
    if not yde == []:
         yde = eval(yde)
         a = [] 
         b = []
         for element in yde:
             a.append(element[0])
             b.append(element[1])
         overviewVideoViews_date.append(a)
         overviewVideoViews_count.append(b)
    else:
        overviewVideoViews_date.append([])
        overviewVideoViews_count.append([])

In [181]:
df['overviewVideoViews_date'] = overviewVideoViews_date

In [182]:
df['overviewVideoViews_count'] = overviewVideoViews_count

In [183]:
df

,Unnamed: 0,index,profile_name,subscriber,view,video,country,category,since,last_subscriber_30,last_view_30,overviewSubscribers,overviewVideoViews,min_month_earnings,max_month_earnings,overviewSubscribers_date,overviewSubscribers_count,overviewVideoViews_date,overviewVideoViews_count
0,0,0,Rotana,24500000,24034368999,9078,Saudi Arabia (SA),Music,2012,200000,292453337,"[['2016-10-29', '3282041'], ['2016-11-27', '33...","[['2016-10-29', '2397995058'], ['2016-11-27', ...",110000,658000,"[2016-10-29, 2016-11-27, 2016-12-19, 2017-01-1...","[3282041, 3394305, 3477819, 3594154, 3799683, ...","[2016-10-29, 2016-11-27, 2016-12-19, 2017-01-1...","[2397995058, 2517865902, 2599146119, 280588535..."
1,1,1,Mmoshaya,23200000,18468679361,1240,Saudi Arabia (SA),People & Blogs,2010,0,34076848,"[['2016-10-27', '1139825'], ['2016-11-23', '12...","[['2016-10-27', '340585176'], ['2016-11-23', '...",12800,76700,"[2016-10-27, 2016-11-23, 2016-12-23, 2017-01-1...","[1139825, 1236408, 1386016, 1491742, 1706496, ...","[2016-10-27, 2016-11-23, 2016-12-23, 2017-01-1...","[340585176, 385899062, 454580517, 525171523, 6..."
2,2,2,شبكة العاب العرب | Arab Games Network,22300000,10024125023,7460,Saudi Arabia (SA),Gaming,2013,100000,45416699,"[['2016-11-14', '213303'], ['2017-01-19', '250...","[['2016-11-14', '22399237'], ['2017-01-19', '3...",17000,102000,"[2016-11-14, 2017-01-19, 2017-05-01, 2017-05-2...","[213303, 250934, 313996, 329298, 388002, 56738...","[2016-11-14, 2017-01-19, 2017-05-01, 2017-05-2...","[22399237, 30860047, 40045340, 42931914, 51652..."
3,3,3,Katakit Baby Tv,20200000,8517744618,231,Saudi Arabia (SA),Music,2010,200000,133417200,"[['2021-07-18', '9780000'], ['2021-08-31', '10...","[['2021-07-18', '3675162082'], ['2021-08-31', ...",50000,300000,"[2021-07-18, 2021-08-31, 2021-09-27, 2021-10-2...","[9780000, 10100000, 10300000, 10600000, 108000...","[2021-07-18, 2021-08-31, 2021-09-27, 2021-10-2...","[3675162082, 3853558289, 3960178435, 408424265..."
4,4,4,ماشا و الدب,18300000,10158387659,1482,Saudi Arabia (SA),Shows,2017,100000,82126847,"[['2017-05-29', '967'], ['2017-06-18', '5106']...","[['2017-05-29', '135030'], ['2017-06-18', '973...",30800,185000,"[2017-05-29, 2017-06-18, 2017-07-09, 2017-08-1...","[967, 5106, 14636, 39196, 52839, 75439, 93525,...","[2017-05-29, 2017-06-18, 2017-07-09, 2017-08-1...","[135030, 973753, 3369492, 10535464, 14912931, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,3578,3580,Thunayyan Khalid!,3890000,755411009,595,Canada (CA),Entertainment,2010,0,455754,"[['2016-10-29', '1440927'], ['2016-11-24', '15...","[['2016-10-29', '195190546'], ['2016-11-24', '...",170,1030,"[2016-10-29, 2016-11-24, 2016-12-28, 2017-01-2...","[1440927, 1517067, 1626937, 1748880, 1907597, ...","[2016-10-29, 2016-11-24, 2016-12-28, 2017-01-2...","[195190546, 209416570, 232033553, 251034897, 2..."
3579,3579,3581,دانية شافعي Danyah Shafei,2830000,1160145940,329,Saudi Arabia (SA),Film & Animation,2013,0,2757922,"[['2016-10-29', '396331'], ['2016-11-23', '439...","[['2016-10-29', '271407735'], ['2016-11-23', '...",1030,6210,"[2016-10-29, 2016-11-23, 2017-01-28, 2017-08-0...","[396331, 439363, 490322, 653386, 868361, 92343...","[2016-10-29, 2016-11-23, 2017-01-28, 2017-08-0...","[271407735, 296874955, 330954677, 419697588, 4..."
3580,3580,3582,25esports,348000,13915866,56,Saudi Arabia (SA),People & Blogs,2017,5000,209635,"[['2021-06-17', '230000'], ['2021-07-30', '241...","[['2021-06-17', '4042277'], ['2021-07-30', '48...",78,471,"[2021-06-17, 2021-07-30, 2021-09-06, 2021-10-0...","[230000, 241000, 250000, 259000, 265000, 26700...","[2021-06-17, 2021-07-30, 2021-09-06, 2021-10-0...","[4042277, 4848914, 5570774, 6866796, 7511251, ..."
3581,3581,3583,Barry | باري,1780000,23957794,1,Saudi Arabia (SA),People & Blogs,2017,0,64270,"[['2017-03-25', '78157'], ['2017-04-17', '1044...","[['2017-03-25', '172750'], ['2017-04-17', '716...",24,144,"[2017-03-25, 2017-04-17, 2017-05-09, 2017-06-0...","[78157, 104496, 111980, 118654, 123445, 135543...","[2017-03-25, 2017-04-17, 2017-05-09, 2017-06-0...","[172750, 716716, 820269, 908246, 970854, 10959..."
3582,3582,3584,Dyler | دايلر,7860000,1224551963,567,Saudi Arabia (SA),People & Blogs,2016,0,1515993,"[['2017-01-03', '387'], ['2017-02-15', '132771...","[['2017-01-03', '0'], ['2017-02-15', '2639847'...",568,3410,"[2017-01-03, 2017-02-15, 2017-08-07, 2017-10-0...","[387, 132771, 1145825, 1728665, 1935205, 21126...","[2017-01-03, 2017-02-15, 2017-08-07, 2017-10-0...","[0, 2639847, 94221723, 172927041, 202250421, 2..."

In [184]:
columns = [ 
            'profile_name', 
            'date', 
            'views',
          ]
df1 = pd.DataFrame(columns=columns)

In [185]:
index = df.shape[0]

In [186]:
temp1 = df.loc[i, :]
print(f"Type: {type(temp1['overviewVideoViews_date'])}, Value: {temp1['overviewVideoViews_date']}")

Type: <class 'list'>, Value: ['2017-01-03', '2017-02-15', '2017-08-07', '2017-10-05', '2017-10-25', '2017-11-13', '2017-12-06', '2017-12-31', '2018-01-21', '2018-02-09', '2018-03-09', '2018-04-13', '2018-05-19', '2018-06-21', '2018-07-22', '2018-08-13', '2018-09-03', '2018-09-23', '2018-10-14', '2018-11-05', '2018-11-29', '2018-12-20', '2019-01-11', '2019-02-08', '2019-02-26', '2019-03-17', '2019-04-09', '2019-04-28', '2019-05-19', '2019-06-17', '2019-07-21', '2019-08-30', '2019-10-19', '2019-12-04', '2020-01-08', '2020-02-09', '2020-07-24', '2021-03-02', '2021-07-11', '2021-11-18', '2022-03-21', '2022-06-25', '2022-10-08', '2022-12-01', '2023-02-05', '2023-04-09', '2023-07-21', '2023-11-30', '2024-03-05', '2024-05-24', '2024-08-19', '2024-11-21']

In [187]:
import pandas as pd

df2 = pd.DataFrame()  # DataFrame نهائي لتخزين النتائج
years = list(map(str, range(2016, 2025)))  # السنوات المطلوبة (2016-2024)

for i in range(0, index):  # تكرار لعدد معين من الصفوف
    temp = df.loc[i, :]
    overviewVideoViews_date = temp['overviewVideoViews_date']
    overviewVideoViews_count = temp['overviewVideoViews_count']

    # إنشاء DataFrame للبيانات
    dfa = pd.DataFrame({
        'overviewVideoViews_date': overviewVideoViews_date,
        'overviewVideoViews_count': overviewVideoViews_count
    })

    # حساب الفرق السنوي بنفس المنطق الموجود في الكود الأصلي
    di = {}
    for k in range(dfa.shape[0]):
        date = dfa.loc[k, 'overviewVideoViews_date']
        count = int(dfa.loc[k, 'overviewVideoViews_count'])
        year = date[:4]
        di[year] = count

    di_key = list(di.keys())
    di_value = list(di.values())
    di_a = {}
    for j in range(len(di_key) - 1, -1, -1):
        if j > 0:
            di_a[di_key[j]] = abs(di_value[j] - di_value[j - 1])
        else:
            di_a[di_key[j]] = di_value[j]

    # ضمان وجود جميع السنوات في النتيجة النهائية
    output = {f"{year}_views": di_a.get(year, 0) for year in years}

    # تحويل النتائج إلى شكل DataFrame
    df_1 = pd.DataFrame({
        'profile_name': [temp['profile_name']],  # إضافة اسم الملف
        **output
    })

    # دمج البيانات الجديدة مع DataFrame النهائي
    df2 = pd.concat([df2, df_1], axis=0, ignore_index=True)

# النتيجة النهائية
df2.head()

,profile_name,2016_views,2017_views,2018_views,2019_views,2020_views,2021_views,2022_views,2023_views,2024_views
0,Rotana,2599146119,1562878054,2107864788,2117443705,2193280884,3867422692,2912861124,3104603066,3568868567
1,Mmoshaya,454580517,1450578846,2928599244,3035121331,2349528954,4496597115,2047368285,1020270564,686034505
2,شبكة العاب العرب | Arab Games Network,22399237,129848039,465587480,1256522354,2299925691,2239806488,1703639572,1010415010,895981152
3,Katakit Baby Tv,0,0,0,0,0,4224521614,1488033470,1306130437,1499059097
4,ماشا و الدب,0,46853112,393684395,696384101,541672202,2562569016,2542744712,2121583995,1252896126

In [188]:
df2.shape

(3583, 10)

In [189]:
import pandas as pd

df3 = pd.DataFrame()  # DataFrame نهائي لتخزين النتائج
years = list(map(str, range(2016, 2025)))  # السنوات المطلوبة (2016-2024)

for i in range(0, index):  # تكرار لعدد معين من الصفوف
    temp = df.loc[i, :]
    overviewVideoViews_date = temp['overviewSubscribers_date']
    overviewVideoViews_count = temp['overviewSubscribers_count']

    # إنشاء DataFrame للبيانات
    dfa = pd.DataFrame({
        'overviewSubscribers_date': overviewVideoViews_date,
        'overviewSubscribers_count': overviewVideoViews_count
    })

    # حساب الفرق السنوي بنفس المنطق الموجود في الكود الأصلي
    di = {}
    for k in range(dfa.shape[0]):
        date = dfa.loc[k, 'overviewSubscribers_date']
        count_str = dfa.loc[k, 'overviewSubscribers_count']

        # التحقق من القيم الفارغة واستبدالها بـ 0
        count = int(count_str) if count_str.strip() else 0

        year = date[:4]
        di[year] = count

    di_key = list(di.keys())
    di_value = list(di.values())
    di_a = {}
    for j in range(len(di_key) - 1, -1, -1):
        if j > 0:
            di_a[di_key[j]] = abs(di_value[j] - di_value[j - 1])
        else:
            di_a[di_key[j]] = di_value[j]

    # ضمان وجود جميع السنوات في النتيجة النهائية
    output = {f"{year}_subscribers": di_a.get(year, 0) for year in years}

    # تحويل النتائج إلى شكل DataFrame
    df_1 = pd.DataFrame({
        'profile_name': [temp['profile_name']],  # إضافة اسم الملف
        **output
    })

    # دمج البيانات الجديدة مع DataFrame النهائي
    df3 = pd.concat([df3, df_1], axis=0, ignore_index=True)

# النتيجة النهائية
df3.head()

,profile_name,2016_subscribers,2017_subscribers,2018_subscribers,2019_subscribers,2020_subscribers,2021_subscribers,2022_subscribers,2023_subscribers,2024_subscribers
0,Rotana,3477819,1850288,4110479,3361414,2600000,3100000,2000000,2000000,2000000
1,Mmoshaya,1386016,2323147,5172031,5418806,3200000,3500000,1200000,600000,400000
2,شبكة العاب العرب | Arab Games Network,213303,785578,2845082,3916037,4540000,3300000,1800000,2400000,2500000
3,Katakit Baby Tv,0,0,0,0,0,10800000,3100000,3000000,3300000
4,ماشا و الدب,0,147992,1406619,2305389,1300000,4200000,3740000,3400000,1800000

In [190]:
df3.shape

(3583, 10)

In [191]:
df2.drop(["profile_name"],axis=1,inplace=True)
df3.drop(["profile_name"],axis=1,inplace=True)

In [192]:
df.drop(["Unnamed: 0","index","overviewSubscribers_date","overviewSubscribers_count","overviewVideoViews_date","overviewVideoViews_count","overviewSubscribers","overviewVideoViews"],axis=1,inplace=True)

In [193]:
df = pd.concat([df, df2], axis=1)

In [198]:
df = pd.concat([df, df3], axis=1)

In [200]:
df.head()

,profile_name,subscriber,view,video,country,category,since,last_subscriber_30,last_view_30,min_month_earnings,...,2024_views,2016_subscribers,2017_subscribers,2018_subscribers,2019_subscribers,2020_subscribers,2021_subscribers,2022_subscribers,2023_subscribers,2024_subscribers
0,Rotana,24500000,24034368999,9078,Saudi Arabia (SA),Music,2012,200000,292453337,110000,...,3568868567,3477819,1850288,4110479,3361414,2600000,3100000,2000000,2000000,2000000
1,Mmoshaya,23200000,18468679361,1240,Saudi Arabia (SA),People & Blogs,2010,0,34076848,12800,...,686034505,1386016,2323147,5172031,5418806,3200000,3500000,1200000,600000,400000
2,شبكة العاب العرب | Arab Games Network,22300000,10024125023,7460,Saudi Arabia (SA),Gaming,2013,100000,45416699,17000,...,895981152,213303,785578,2845082,3916037,4540000,3300000,1800000,2400000,2500000
3,Katakit Baby Tv,20200000,8517744618,231,Saudi Arabia (SA),Music,2010,200000,133417200,50000,...,1499059097,0,0,0,0,0,10800000,3100000,3000000,3300000
4,ماشا و الدب,18300000,10158387659,1482,Saudi Arabia (SA),Shows,2017,100000,82126847,30800,...,1252896126,0,147992,1406619,2305389,1300000,4200000,3740000,3400000,1800000

In [201]:
df.shape

(3583, 29)

In [202]:
df.head(10)

,profile_name,subscriber,view,video,country,category,since,last_subscriber_30,last_view_30,min_month_earnings,...,2024_views,2016_subscribers,2017_subscribers,2018_subscribers,2019_subscribers,2020_subscribers,2021_subscribers,2022_subscribers,2023_subscribers,2024_subscribers
0,Rotana,24500000,24034368999,9078,Saudi Arabia (SA),Music,2012,200000,292453337,110000,...,3568868567,3477819,1850288,4110479,3361414,2600000,3100000,2000000,2000000,2000000
1,Mmoshaya,23200000,18468679361,1240,Saudi Arabia (SA),People & Blogs,2010,0,34076848,12800,...,686034505,1386016,2323147,5172031,5418806,3200000,3500000,1200000,600000,400000
2,شبكة العاب العرب | Arab Games Network,22300000,10024125023,7460,Saudi Arabia (SA),Gaming,2013,100000,45416699,17000,...,895981152,213303,785578,2845082,3916037,4540000,3300000,1800000,2400000,2500000
3,Katakit Baby Tv,20200000,8517744618,231,Saudi Arabia (SA),Music,2010,200000,133417200,50000,...,1499059097,0,0,0,0,0,10800000,3100000,3000000,3300000
4,ماشا و الدب,18300000,10158387659,1482,Saudi Arabia (SA),Shows,2017,100000,82126847,30800,...,1252896126,0,147992,1406619,2305389,1300000,4200000,3740000,3400000,1800000
5,قناة وناسة Wanasah Tv,18100000,10219433723,233,Saudi Arabia (SA),general,2014,300000,122245986,45800,...,10219433723,0,0,0,0,0,0,0,0,18100000
6,Banderita X,18000000,5470017529,1887,Saudi Arabia (SA),Gaming,2013,200000,62773474,23500,...,1144500048,0,234606,2432581,2852813,1720000,3660000,1400000,1400000,4300000
7,حقائق وأسرار,14800000,2269668104,1544,Saudi Arabia (SA),Entertainment,2016,0,3796136,1420,...,22440173,217890,1412537,4677686,4391887,1000000,2400000,500000,100000,100000
8,Fantom Pro,13500000,6879804978,622,Saudi Arabia (SA),Film & Animation,2016,100000,40297803,15100,...,2023418457,0,0,0,0,0,0,0,8210000,5290000
9,روتانا خليجية,11800000,5124350920,24785,Saudi Arabia (SA),Entertainment,2011,100000,57428928,21500,...,3192515785,872722,782601,1828865,2405812,440000,1170000,1750000,1250000,1300000

In [203]:
df.to_csv("youtube_data_eda_2.csv")

In [204]:
df_fun = pd.read_csv("youtube_data_eda_2.csv")

In [215]:
print(df_fun["2023_views"].sum()) 
print(df_fun["2024_views"].sum())

90619502303
126564518512

In [218]:
(df_fun["2024_views"].sum()/1000) * 1

126564518.512

In [225]:
df_fun_1 = df_fun[df_fun["category"] == "Gaming"]

In [227]:
df_fun_1.sort_values(by="2024_subscribers" , ascending=False).head(20)

,Unnamed: 0,profile_name,subscriber,view,video,country,category,since,last_subscriber_30,last_view_30,...,2024_views,2016_subscribers,2017_subscribers,2018_subscribers,2019_subscribers,2020_subscribers,2021_subscribers,2022_subscribers,2023_subscribers,2024_subscribers
6,6,Banderita X,18000000,5470017529,1887,Saudi Arabia (SA),Gaming,2013,200000,62773474,...,1144500048,0,234606,2432581,2852813,1720000,3660000,1400000,1400000,4300000
3560,3560,S Ho Ngx Bоng,16000000,2773959313,765,Saudi Arabia (SA),Gaming,2012,100000,37401013,...,647090788,0,0,0,1230000,1820000,1880000,1120000,6550000,3400000
36,36,Powr Suhaib,7300000,1234561703,1104,Saudi Arabia (SA),Gaming,2015,50000,23480317,...,311667925,0,0,0,0,0,1330000,960000,2310000,2700000
2,2,شبكة العاب العرب | Arab Games Network,22300000,10024125023,7460,Saudi Arabia (SA),Gaming,2013,100000,45416699,...,895981152,213303,785578,2845082,3916037,4540000,3300000,1800000,2400000,2500000
53,53,اوكا Oka,5640000,1239544370,2081,Saudi Arabia (SA),Gaming,2018,70000,17298949,...,272385241,0,0,0,0,0,2580000,370000,660000,2030000
60,60,Garena Free Fire Middle East And Africa Arabic,4940000,710001423,1823,Saudi Arabia (SA),Gaming,2019,120000,27701149,...,417975572,0,0,0,454000,1006000,870000,110000,490000,2010000
118,118,Virus,3420000,350942083,220,Saudi Arabia (SA),Gaming,2014,50000,8653165,...,224468740,0,12809,444,365,95000,458000,35000,980000,1840000
3572,3572,أوسمز O C Mz,8500000,2547923880,3007,Saudi Arabia (SA),Gaming,2012,120000,35775721,...,484042757,556313,472540,891108,1420039,150000,2440000,290000,440000,1840000
144,144,Falcons,2870000,378121322,209,Saudi Arabia (SA),Gaming,2020,70000,15125257,...,261454017,0,0,0,0,0,0,269000,861000,1740000
82,82,Rakan & Rayan,4160000,442810913,185,Saudi Arabia (SA),Gaming,2013,60000,9365347,...,83910866,0,0,0,0,0,351000,624000,1835000,1350000
25,25,صالح O Pii Lz,8940000,2628205984,1709,Saudi Arabia (SA),Gaming,2011,80000,24434215,...,316012542,0,652376,1407994,1259630,270000,2500000,840000,710000,1300000
37,37,F Fear F Ful,6890000,1071981406,615,Saudi Arabia (SA),Gaming,2012,50000,8570991,...,177653186,0,0,0,1500000,1140000,690000,730000,1610000,1220000
89,89,ابو خليل | Ibrahim,3980000,482997674,199,Saudi Arabia (SA),Gaming,2020,60000,9882555,...,166925998,0,0,0,0,0,0,334000,2516000,1130000
54,54,Powr E Sports | باور,5340000,861800392,416,Saudi Arabia (SA),Gaming,2012,90000,22528673,...,251510466,0,0,0,0,924000,476000,1010000,1880000,1050000
242,242,Abu Abeer16,1870000,219412219,557,Saudi Arabia (SA),Gaming,2019,30000,4816071,...,92861463,0,0,0,0,0,371000,259000,322000,918000
102,102,Powr C7 خشب,3680000,530354531,772,Saudi Arabia (SA),Gaming,2012,10000,2418666,...,121897281,0,113531,280015,383454,453000,390000,460000,700000,900000
3569,3569,Aziz عزيز,2790000,409243391,1189,Saudi Arabia (SA),Gaming,2011,60000,6886425,...,110584329,114689,100977,222926,437408,174000,390000,200000,270000,880000
94,94,كمستكا,3890000,528989589,195,Saudi Arabia (SA),Gaming,2020,100000,10558411,...,135143142,0,0,0,0,0,0,1240000,1780000,870000
3561,3561,فارس | Faris,2740000,384769616,222,Saudi Arabia (SA),Gaming,2020,40000,7474924,...,146880897,0,0,0,0,0,0,518000,1352000,870000
68,68,Solom,4620000,2604375619,2737,Saudi Arabia (SA),Gaming,2017,40000,16404005,...,263961017,0,37775,297835,844390,1050000,740000,350000,450000,850000